@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --color-brand-primary: #1e83f7;
  --color-brand-secondary: #ffac1c;
  --color-gray-primary: #24252a;
  --color-success-primary: #20bc08;
}

.layout-container {
  min-height: 100vh;
}

.layout-container__menu {
  min-height: 100vh;
  background: var(--color-gray-primary);
  height: 100%;
}

.ant-table-wrapper {
  width: 100% !important;
}
.table .ant-table-thead > tr > th {
  background: #fff !important;
  padding: 0 !important;
  font-size: 18px !important;
  font-weight: bold !important;
  border-radius: 0 !important;
  color: #656669 !important;
}

.table .ant-table-tbody > tr > td {
  padding: 14px 0 !important;
  background: #fff !important;
  font-size: 15px !important;
}

.visibility {
  width: 32px;
  height: 32px;
  background: #20bc081a 0% 0% no-repeat padding-box;
  border: 1px solid #20bc081a;
  border-radius: 5px;
  opacity: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.visibility:hover {
  background: #20bc080f 0% 0% no-repeat padding-box;
}
.edit {
  width: 32px;
  height: 32px;
  background: #1e83f71a 0% 0% no-repeat padding-box;
  border: 1px solid #1e83f733;
  border-radius: 5px;
  opacity: 1;
  display: grid;
  cursor: pointer;
  place-items: center;
}
.edit:hover {
  background: #1e83f70f 0% 0% no-repeat padding-box;
}

.delete {
  width: 32px;
  height: 32px;
  background: #f71e1e1a 0% 0% no-repeat padding-box;
  border: 1px solid #f71e1e1a;
  border-radius: 5px;
  opacity: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.delete:hover {
  background: #f71e1e0f 0% 0% no-repeat padding-box;
}

.billableHrs-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.billableHrs-container__input {
  width: 100%;
  border-radius: 5px 0 0 5px;
}
.billableHrs-container__hrs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 94px;
  border-radius: 0 5px 5px 0;
}

.ant-form-item-label {
  font-weight: 600;
}

.ant-checkbox-wrapper {
  margin: 0 !important;
}
