@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --color-brand-primary: #1e83f7;
  --color-brand-secondary: #ffac1c;
  --color-gray-primary: #24252a;
  --color-success-primary: #20bc08;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.layout-container {
  min-height: 100vh;
}

.layout-container__menu {
  min-height: 100vh;
  background: var(--color-gray-primary);
  height: 100%;
}

.link-component {
  height: 3.625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem 0.3125rem 0 0;
  position: relative;
  color: #656669;
  transition: all 0.3s ease;
}

.link-component-active {
  background-color: #f1f1f1;
  color: #24252a;
}
.link-component:hover {
  background-color: transparent;
  color: #24252a;
}
.link-component-active::after {
  content: '';
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  width: 100%;
  height: 0.3125rem;
  background-color: #f7921e;
  border-radius: 0.3125rem 0.3125rem 0 0;
}

.ant-table-wrapper {
  width: 100% !important;
}
.table .ant-table-thead > tr > th {
  background: #fff !important;
  padding: 0;
  font-size: 1.125rem !important;
  font-weight: bold !important;
  border-radius: 0 !important;
  color: #656669 !important;
}

.table .ant-table-tbody > tr > td {
  padding: 0.875rem 0 !important;
  background: #fff !important;
  font-size: 0.9375rem !important;
}

.visibility {
  width: 2rem;
  height: 2rem;
  background: #20bc081a 0% 0% no-repeat padding-box;
  border: 0.0625rem solid #20bc081a;
  border-radius: 0.3125rem;
  opacity: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.visibility:hover {
  background: #20bc080f 0% 0% no-repeat padding-box;
}
.edit {
  width: 2rem;
  height: 2rem;
  background: #1e83f71a 0% 0% no-repeat padding-box;
  border: 0.0625rem solid #1e83f733;
  border-radius: 0.3125rem;
  opacity: 1;
  display: grid;
  cursor: pointer;
  place-items: center;
}
.edit:hover {
  background: #1e83f70f 0% 0% no-repeat padding-box;
}

.delete {
  width: 2rem;
  height: 2rem;
  background: #f71e1e1a 0% 0% no-repeat padding-box;
  border: 0.0625rem solid #f71e1e1a;
  border-radius: 0.3125rem;
  opacity: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.delete:hover {
  background: #f71e1e0f 0% 0% no-repeat padding-box;
}

.ant-modal-close,
.ant-drawer-close {
  height: 2rem !important;
  width: 2rem !important;
  background-color: #f71e1e1a !important;
  color: #f7541e !important;
  border: 0.0625rem solid #f71e1e1a !important;
}
.ant-modal-close:hover,
.ant-drawer-close:hover {
  background: #f71e1e0f 0% 0% no-repeat padding-box !important;
}

.billableHrs-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.billableHrs-container__input {
  width: 100%;
  border-radius: 0.3125rem 0 0 0.3125rem;
}
.billableHrs-container__hrs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 5.875rem;
  border-radius: 0 0.3125rem 0.3125rem 0;
}

.ant-form-item-label {
  font-weight: 600;
}

.ant-checkbox-wrapper {
  margin: 0 !important;
}

.qr-code {
  width: 100%;
  height: 100%;
  border: 0.0625rem solid #c3c1bf;
  padding: 0.125rem;
  border-radius: 0.3125rem;
  max-height: 7.375rem;
  max-width: 7.375rem;
}
.qr-code-small {
  width: 100%;
  height: 100%;
  max-height: 1.9375rem;
  max-width: 1.9375rem;
}

.go-back-arrow {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #c3c1bf;
  cursor: pointer;
  background: #f9f9f9;
}
.go-back-arrow:hover {
  background: #eee;
}

.header {
  padding: 0 1.375rem;
  background: #f9f9f9;
  box-shadow: 0rem 0.3125rem 0.9375rem #1201030f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.overview-card-container {
  border-radius: 5px;
  padding: 12px 20px;
}

.overview-card-container__icon {
  height: 42px;
  width: 42px;
  border-radius: 5px;
  background-color: #ffffff33;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
