.link-component {
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  position: relative;
  color: #656669;
  transition: all 0.3s ease;
}

.link-component-active {
  background-color: #f1f1f1;
  color: #24252a;
}
.link-component:hover {
  background-color: transparent;
  color: #24252a;
}
.link-component-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f7921e;
  border-radius: 5px 5px 0 0;
}
